doctype html
html
  head
    title Painel SEGSAT
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    script(src="/angular/angular.min.js")
  body(data-ng-app="panel")
    block content

    script(src="/controllers/indexController.js")
    script(src="/jquery/dist/jquery.slim.min.js")
    script(src="/popper.js/dist/umd/popper.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")